<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/app.css")
    title Task ly - #{titlePage}
  body

    header.header
      a(href="/" class="header-logo")
        img(src="/assets/images/logo.svg", alt="").header-logo

      .header-options

        .user
          .user-logo
            span M
          .user-name
            span Miguel Zabala Figueroa

        .log-out
          img(src="/assets/images/log-out.svg", alt="")
    
    main.main
      aside.aside-web

        a(href="/new-project" class="btn-new-project") New Project

        .project-list
          h2.project-list-header Projects
        
          if projects
            each project in projects
              a(href=`/projects/${project.url}`).project
                .project-header
                  .project-header-image 
                    span #{project.name.slice(0, 1)}
                  .project-header-title
                    p #{project.name}
                .project-description
                  p #{project.description}
                .project-stadistics
                  .progress
                    .bar
                  .issues
                    p 3/12
      //- pre= consultResults(projects)
      aside.aside-mobile
        a(href="/new-project" class="btn-new-project-mobile") +

        .project-list-mobile
          if projects
            each project in projects
              a(href=`/projects/${project.url}`).project
                .project-image
                  span #{project.name.slice(0, 1)}
                .project-issues
                  p 3/12

      block content